<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styleindex.css' %}">
  <title>Group Project</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="">
            <h1><span>T</span>ime <span>C</span>entre</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="">Wishlist</a></li>
            <li><a href="">cart</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="{{home}}">logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- mighty Section  -->
  <section id="Weeknd">
    <a href="Watch.html">
      {% load static %}
      <img src="{% static 'img/ip6.jpg' %}" alt="My image">
    </a>
    <div class="false">
      <ul>
        <li><a href="">Sort by &nbsp;|</a></li>
        <li><a href="">Best seller &nbsp;|</a></li>
        <li><a href="">New arrival &nbsp;|</a></li>
        <li><a href="">Popularity &nbsp;|</a></li>
        <li><a href="">Price </a></li>
      </ul>
    </div>
    <div class="Starboy">
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/2.jpeg' %}" alt="My image">
      <a href="/one">G-shock<br> GM-B2100BD-1A</a>
      <h2><br>Rs 38,995(Incl. all taxes)</h2>
    </div>
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/6.jpeg' %}" alt="My image">
      <a href="/two">Rado<br> True Square </a>
      <h2><br>Rs 1,94,200(Incl. all taxes)</h2>
    </div>
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/9.jpeg' %}" alt="My image">
      <a href="/three">FREDERIQUE CONSTANT<br>FC-303MC5B4 </a>
      <h2><br>Rs 72,618(Incl. all taxes)</h2>
    </div>
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/8.jpeg' %}" alt="My image">
      <a href="/four">EARNSHAW BAUER<br> ES-8801-02</a>
      <h2><br>Rs 46,950(Incl. all taxes)</h2>
      <div class="alarm">
      </div>
    </div>
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/3.jpeg' %}" alt="My image">
      <a href="/five">G-shock<br> GSG-100-1A3</a>
      <h2><br>Rs 16,495(Incl. all taxes)</h2>
    </div>
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/4.jpeg' %}" alt="My image">
      <a href="/six">G-shock<br> GSG-100-1A8</a>
      <h2><br>Rs 16,495(Incl. all taxes)</h2>
    </div>
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/1.jpeg' %}" alt="My image">
      <a href="/seven">G-shock<br> GA-1100-2A</a>
      <h2><br>Rs 18,995(Incl. all taxes)</h2>
    </div>
    <div class="alarm">
      {% load static %}
      <img src="{% static 'img/7.jpeg' %}" alt="My image">
      <a href="/eight">Seiko Flightmaster<br> SSE007J1</a>
      <h2><br>Rs 2,18,995(Incl. all taxes)</h2>
    </div>
    </div>
    
    
  </section>
      <!-- 2nd phase of mighty Section  -->
      
  <section id="Drake">
    <div class="Gods">
      <hr>
    <div class="plan">POPULAR SEARCHES: Smart Watch | Fashion Watches | Casual Watch | Sport Watch</div>
      <hr class="plan">
      <p> WATCHES THAT COMPLIMENT YOUR STYLE</p>
    </div>
      <p class="plan">Watches do not only help you keep track of time but also make a strong style statement. They add wings to your style and personality. <br>Like a sultry dress or a pair of flawless shoes, wrist watches enhance your whole appearance. But before you go on making the <br>purchase, you must decide what would be the best watch to suit your personality.</p>
      <div class="plan"><h2>TYPES OF WATCHES AT FASTRACK</h2>
      <h3>DIGITAL-ANALOGUE WATCHES</h3>
    <p>What if we tell you that you can get the classic look of an analogue watch combined with the features of a digital watch? Sounds like a perfect combination, doesn’t it? Our collection of digital-analogue watches is just that! With classic numerical dials and small digital screens, these watches come with a 5 ATM water resistance.</p>
  <h4>SMARTWATCHES</h4><p>They are the new generation wrist watches. In addition to telling the time and keeping track of activities, these watches can be your trainer, your virtual assistant, and your mobile device, all wrapped up around your wrist. Our smartwatch collections come packed with features like 24x7 heart rate monitoring, blood oxygen and sleep tracking, stress monitoring, and 20+ sports modes. In addition to this, once paired with your smartphone, you can also receive notifications, react to texts, play music, and do so much more.</p>
  <h3>YOUR GUIDE TO PICKING THE PERFECT TIMEPIECE</h3>
  <p>We all have a unique sense of style that makes us stand out from the crowd. It is reflected in the kind of clothes we wear, the pair of shoes we pick, and the way we accessorise the entire outfit. All of this speaks volumes about who we are, so it is obvious that each piece of jewellery, clothing, and accessories we own is carefully picked out. So here we are, with some tips to help you decide what kind of watch would best fit your aesthetic.</p>
  <h3>YOUR BUDGET</h3>
  <p>Determining how much are you willing to spend on a timepiece is very crucial. We do not want you to get your heart set on a piece, only to be turned away by the price tag. So, our suggestion is to decide what your budget is and then look at options that are available for you.</p>
</div>
  </section>
</body>

<!-- Finally the last section -->

<footer>
  <section id="Container">
  <div class="Snoop">
    
    <ul>
      <li><a href="">Customer Service</a></li>
      <li><a href="">Contact us</a></li>
      <li><a href="">Policies</a></li>
      <li><a href="">About Time Centre</a></li>
      <li><a href="">Need Help</a></li>
    </ul>
  </div>
  <div class="Eminem">
    
    <ul>
      <li><a href="">Payment options</a></li>
      <li><a href="">1800-266-1245</a></li>
      <li><a href="">Exchanges</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Terms and conditions</a></li>
    </ul>
  </div>
  <div class="Eminem">
    
    <ul>
      <li><a href="">Track Order</a></li>
      <li><a href="">custocare@time.co.in</a></li>
      <li><a href="">Cancellation</a></li>
      <li><a href="">Careers</a></li>
      <li><a href="">Services</a></li>
    </ul>
  </div>
  <div class="Eminem">
    
    <ul>
      <li><a href="">Find a Store</a></li>
      <li><a href="">Freq Asked Questions</a></li>
      <li><a href="">Shipping</a></li>
    </ul>
  </div>
  
</section>
</footer>
</html>
